@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face{
    font-family: 'Post No Bills Jaffna';
    src: url(../fonts/PostNoBillsJaffna-Bold.ttf);
    font-weight: 700;
}
@font-face{
    font-family: 'Post No Bills Jaffna';
    src: url(../fonts/PostNoBillsJaffna-ExtraBold.ttf);
    font-weight: 800;
}
@font-face{
    font-family: 'Post No Bills Jaffna';
    src: url(../fonts/PostNoBillsJaffna-Light.ttf);
    font-weight: 300;
}
@font-face{
    font-family: 'Post No Bills Jaffna';
    src: url(../fonts/PostNoBillsJaffna-Medium.ttf);
    font-weight: 500;
}
@font-face{
    font-family: 'Post No Bills Jaffna';
    src: url(../fonts/PostNoBillsJaffna-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Post No Bills Jaffna';
    src: url(../fonts/PostNoBillsJaffna-SemiBold.ttf);
    font-weight: 600;
}


