@media(max-width:1400px){
    .down__title{
        margin: 20px;
    }
    .intsturments{
        padding-left: 23px;
    }
    .insturments__flex{
        padding-bottom: 50px;
        padding-left: 38px;
    }
    .left__content{
        width: 60%;
    }
    .rght__content{
        width: 60%;
    }
    .medtex__title{
        font-size: 265px;
    }
    .application__content{
        width: 100%;
    }
}
@media(max-width:1200px){
    .nav img{
        padding-left: 50px;
    }
    .insturments__flex{
        padding-bottom: 50px;
        padding-left: 65px;
    }
    .pic-1{
        width: 50%;
    }
    .pic-2{
        width: 44%;
    }
    .left__content img{
        width: 100%;
    }
    .left__content {
        width: 40%;
    }
    .right-img{
        width: 100%;
        padding-top: 77px;
    }
    .left__title{
        font-size: 77px;
    }
    .medtex__title{
        font-size: 170px;
    }
    .right__down{
        padding-top: 0;
    }
    .application{
        width: 85%;
    }
    .application__text{
        width: 65%;
    }
}
@media(max-width:992px){
    .header__nav{
        width: 100%;
    }
    .title__content{
        width: 100%;
    }
    .left__content img{
        width: 80%;
    }
    .header__nav{
        flex-direction: column;
        padding-top: 15px;
    }
    .header__nav img{
        margin-left: 100px;
}
    .intro{
        flex-wrap: wrap;
    }
    .rght__content{
        width: 100%;
        display: none;
    }
    .left__content-icon{
        left: 50%;
    }
    .left__title{
        font-size: 148px;
    }
    .left__content{
        width: 100%;
    }
    .right-img-1{
        width: 80%;
    }
    .right-img-2{
        bottom: 36%;
    }
    .right-img-3{
       display: inline-block;
    }
    .pictures{
        flex-wrap: wrap;
    }
    
    .pic-1{
        width: 80%;
        
    }
    .intsturments{
        padding-top: 50px;
        margin: auto;
    }
    .pictures-2{
        flex-direction: column;
    }
    .right__content-icon{
        left: 70%;
    }
    .picturec-2{
        flex-direction: column;
    }
    .intsturments-2{
        justify-content: center;
        margin: auto;
    }
    .pic-2{
        width: 80%;
        position: relative;
        left: 20%;
    }
    
}
@media(max-width:768px){
   .header__list{
       flex-wrap: wrap;
       justify-content: space-around;
   }
   .header__nav img{
        margin-left: 50px;
}
    .left__title{
        padding-left: 8px;
        font-size: 115px;
    }
    .pic-1{
        width: 75%;
        
    }
    .pic__line-2{
        width: 355px;
    }
    .photo-2{
        width: 358px;
        
    }
    .pic__line-1{
        width: 360px;
    }
    .intsturments{
        padding-left: 0;
    }
    .rght__content{
        width: 100%
    }
    .medtex__title{
        font-size: 120px;
    }
    .application__what{
        display: none;
    }
    .application__text{
        width: 100%;
        font-size: 22px;
    }
    
   
}
@media(max-width:576px){
    .left__content{
        width: 100%;
    }
    .left__title{
        padding-left: 8px;
        font-size: 58px;
    }
    .intsturments{
        padding-left: 0;
    }
    .insturments__flex{
        padding-left: 7px;
    }
    .rght__content{
        width: 100%
    }
    .pic-1{
        width: 100%;
    }
    .pic-2{
        width: 80%;
        right: 0;
    }
    .medtex__title{
        font-size: 70px;
    }
    .left__content img{
        width: 100%;
    }
    .application__content{
        width: 100%;
    }
    .application__text{
        width: 100%;
        font-size: 16px;
    }
    .application__what{
        display: none;
    }
    .icon__title{
        font-size: 16px;
    }
    .intsturments{
        flex-direction: column;
    }
    .intsturments-2{
        flex-direction: column;
    }
    .no-js .owl-carousel, .owl-carousel.owl-loaded{
        width: 100%;
    }
    iframe{
        width: 100%;
    }
    .right__content-icon{
        padding: 14px;
        left: 60%;
    }
    .left__content-icon{
        left: 37%;
    }
    .footer__content{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__icon{
        margin: auto;
    }
    .author{
        margin-left: auto;
        margin-right: auto;
    }
    .footer__bt-title{
        font-size: 10px;
    }
   
    
}

