@import './all.min.css';
@import './fonts.css';

:root {
    --mont: 'Montserrat';
    --montsub: 'Montserrat Subrayada';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background: #272351;
    scroll-behavior: smooth;
    
}

header{
    background:  #120D4E;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    padding-left: 50px;
    margin-top: 15px;
    transition: 0.2s;
}
.header__list{
    display: flex;
    list-style: none;
}
.header__list a{
    color: white;
    text-decoration: none;
    padding: 36px 14px;
    font-family: var(--mont);
    display: block;
    transition: 0.5s;
}
nav img:hover{
    opacity: 0.75;
}
.header__list a:hover{
    background: white;
    color: rgba(255, 0, 0, 0.808);
    
}
/* ===================Intro style============================ */
.intro{
    display: flex;
}
.left__content{
    width: 40%;
    height: 747px;
    background: rgba(140, 130, 254, 0.65);
    display: flex;
    align-items: center;
    position: relative;
    
}
.title__bg{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.left__content-icon{
    position: absolute;
    top: 0;
    left: 50%;
    background: #524BA1;
    border-radius: 50%;
    padding: 16px;
    margin-top: 30px;

}
.right__content-icon{
    position: absolute;
    top: 0;
    left: 50%;
    background: #524BA1;
    border-radius: 50%;
    padding: 16px;
    margin-top: 30px;
    margin-left: 10px;
}
.fa-envelope{
    color: white;
    font-size: 45px;
    transition: 0.5s;
}
.fa-phone-alt{
    transition: 0.5s;
}
.fa-envelope:hover{
    color: black;
}
.fa-phone-alt:hover{
    color: black;
}
.title__content{
    position: absolute;
    width: 100%;
    height: 168px;
    background: linear-gradient(90.12deg, #120A74 21.99%, rgba(25, 20, 79, 0.567708) 43.82%, rgba(18, 15, 54, 0.190937) 80.31%);
    background-blend-mode: luminosity;
    display: flex;
    align-items: center;
    justify-content: center;

}
.left__title{
    font-family: var(--montsub);
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 122px;
    color: #FFFFFF;
}
.left__min-title{
    color: white;
    font-family: var(--mont);
}
.left__icon{
    display: flex;
    position: absolute;
    bottom: 0;
}
.left__social-icon{
    margin-left: 45px;
    border: 4px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    margin-bottom: 25px;
}
.fa-tags{
    color: white;
    font-size: 35px;
    transition: 0.5s;
}
.fa-tags:hover{
    color: blue;
}
.fa-instagram{
    color: white;
    font-size: 35px; 
    transition: 0.5s;
}
.fa-instagram:hover{
    color: #dd5220;
}
.rght__content{
    position: relative;
    height: 839px;
    width: 60%;
    background: #524BA2;
}
.right__content-icon{
    position: absolute;
    top: 0;
    left: 100%;
    padding: 16px;
    margin-top: 30px;
    z-index: 1;
}
.right-img{
    max-width: 100%;
    margin-top: 77px;
}

.right__down{
    padding-top: 60px;
}
.fa-long-arrow-down{
    padding-left: 45px;
    font-size: 50px;
    color: white;
    transition: 0.5s;
}
.fa-long-arrow-down:hover{
    color: rgb(131, 131, 131);
}
.fa-phone-alt{
    font-size: 50px;
    color: white;
}
.down__title{
    width: 571px;
    font-family: var(--mont);
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-left: 36px;
}
/* ===========SECTION PICTURES======================== */
.pictures {
    padding-top: 67px;
    display: flex;
}

.pic-1 {
    width: 100%;
}
.intsturments {
    margin-right: 45px;
    display: flex;
}

.insturments__flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 117px;
}

.fa-user-md {
    border: 4px solid#71C2EF;
    padding: 40px;
    border-radius: 50%;
    font-size: 90px;
    color: #71C2EF;
    margin-bottom: 26px;
}

.icon__title {
    font-family: var(--mont);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.fa-heartbeat {
    border: 4px solid#71C2EF;
    padding: 40px;
    border-radius: 50%;
    font-size: 90px;
    color: #71C2EF;
    margin-bottom: 26px;
}

.pictures-2 {
    margin-top: 100px;
    display: flex;
}

.insturments-2 {
    display: flex;
}

.insturment__icon {
    border: 4px solid#71C2EF;
    padding: 40px;
    border-radius: 50%;
    font-size: 90px;
    color: #71C2EF;
    margin-bottom: 26px;
}
.pic-2 {
    width: 50%;
}

.pic__line-3 {
    position: absolute;
    right: 1%;
    padding-top: 90px
}

.pic__line-4 {
    position: absolute;
    right: 6%;
    padding-top: 50px
}

.photo-3 {
    position: absolute;
    right: 10%;
    padding-top: 80px;
}
.pictures-2{
    display: flex;
}
.intsturments-2{
    display: flex;
    margin-right: 40px;
}
.pic-2{
    width: 100%;
}
.medtex__title {
    text-align: center;
    font-family: var(--montsub);
    font-style: normal;
    font-weight: bold;
    font-size: 326px;
    color: rgba(120, 136, 161, 0.1);
}
/* ==============OWL Carusel============================= */
.carusel__hover {
    transition: 0.5s;
    cursor: pointer;
}

.carusel__hover:hover {
    opacity: 0.5;
    background: #272351;
}
/* ======Footer================= */
.footer {
    background-color: #120D4E;
}

.application {
    transform: translateY(-35px);
    margin: 0 auto;
    width: 1100px;
    height: 100px;
    background: #120D4E;
    box-shadow: 5px 5px 20px #7888A1, -5px -5px 5px #FFFBFB;
    border-radius: 8px;
    display: flex;
    justify-content: center;

}

.application__content {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    text-decoration: none;
}

.application__what {
    font-family: var(--mont);
    width: 70px;
    color: white;
    border-radius: 50%;
    border: 6px solid white;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.application__text {
    margin-left: 57px;
    font-family: var(--mont);
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    color: #FFFFFF;
}


.application__content:hover {
    opacity: 0.65;
}
.footer__btn-container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.footer__content{
    display: flex;
    justify-content: space-between;
}
.fa-telegram{
    font-size: 25px;
    padding-left: 20px;
    color: white;
    padding-bottom: 15px;
    transition: 0.5s;
}
.fa-telegram:hover{
    color: black;
}
.footer__call{
    font-size: 25px;
    padding-left: 20px;
    color: white;
    padding-bottom: 15px;
    margin-left: 15px;
}
.footer__mail{
    font-size: 25px;
    padding-left: 20px;
    color: white;
    padding-bottom: 15px;
    margin-left: 15px;
}
.footer__bt-title{
    font-family: 'PT Sans';
    font-size: 12px;
    color: #D0D0D0;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}
.footer__bt-title:hover{
    opacity: 0.75;
}
.author{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}